*body{
    background-repeat: no-repeat;

 }   
#container img{
    margin: 150px auto;
    width: 1000px;
    height: 1000px;
    padding: 8px;
}
#container{
    display: flex;
    align-items: center;
}
.title{
  text-align: center;
}

